.profile-page {
  .profile-form-wrap {
    padding: 32px 12px 24px;
    width: 960px;
    max-width: 90%;
    background-color: white;
    .profile-form {
      width: 800px;
      max-width: 90%;
    }
  }
}
